# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/
.build/

# SPM
.swiftpm/
Package.resolved

# macOS
.DS_Store
*.swp
*~
.Trashes

# Generated
*.icns
release-build/
*.zip
md2loop-v*.zip
